$color-header:rgb(122, 32, 149);
$titulos-secciones:rgb(74, 48, 116);
$color-blanco: white;
$color-dorado: rgb(185, 126, 18);
$dorado-suave:rgb(194, 152, 74);
$fondo-menu:rgb(245, 235, 246);
$color-negro: black;
$fondo-tarjetas:rgb(251, 243, 243);
